.request-card{
    width: 100%;
    color: white;
    .container{
text-align: center;
.details{
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    border: 4px solid var(--clr-pumpkin);
    display: flex;
    flex-direction: column;
    gap: 15px;
    .req-details ,.user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        div{
            border: 2px solid white;
            padding: 8px;
            border-radius: 6px;
        }
        a{
            border: 2px solid white;
            padding: 8px;
            border-radius: 6px;
            transition: 0.2s;
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }

}
    }
}